@model IEnumerable<DUPL_Task_Project.Models.Book>
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common

@{
    ViewBag.Title = "Index";
    var totalRecords = ViewBag.TotalRecords;
}

<div class="row">
    <div class="col-12">
        <h3 class="text-center" style="margin-top:20px;"><u>Book List</u></h3>
        <div class="d-flex justify-content-between mb-2">
            <div style="margin-left:5px;">
                <a href="@Url.Action("Create", "Books")" class="btn btn-success btn-sm" style="margin-bottom:10px;"><i class="bi bi-plus"></i> Add Book</a>
            </div>
            <div>
                <span>Total Record(s): </span><span id="totalRecords" class="total-records-badge">@totalRecords</span>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="text-center">
                    <th class="text-center">SI#</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Book Name</th>
                    <th class="text-center">Author Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td class="text-center">@a.BookId</td>
                        <td class="text-center">@((a.Date.HasValue) ? a.Date.Value.ToString("dd-MM-yyyy") : "")
                        <td class="text-center">@a.BookName</td>
                        <td class="text-center">@(string.Join(", ", a.BookAuthors.Select(x => x.Author.AuthorName).ToList()))</td>
                        <td class="text-center">@a.Quantity</td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit", "Books", new {id=a.BookId})" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil"></i></a>
                            <button onclick="DeleteBook('@a.BookId')" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <div class="d-flex justify-content-end">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
        </div>

    </div>
</div>

@section styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <style>
        .total-records-badge {
            background-color: #007bff;
            color: white;
            padding: 3px 8px;
            border-radius: 50%;
            font-size: 12px;
            display: inline-block;
        }
    </style>
}

@section scripts
{
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script>
        $(document).ready(function () {
            $('#totalRecords').text('@totalRecords');
        });

         function DeleteBook(id) {
        if (confirm("Are you sure you want to delete this item?")) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete", "Books")",
                data: { id: id },
                success: function () {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    alert("An error occurred while deleting the book.");
                }
            });
        }
    }
    </script>
}
